body {
  font-family: "Arial";
   background-color: #FAD4D8;
   color: #546A76;        
}
h1
{
  font-family: "Arial";  
  color: #546A76;
 }
{
background-image: url(https://github.com/MaryAshby/TwinnedPages/blob/master/images/eggs.jpg?) no-repeat;
background-position: left top;
}
tr:hover {background-color: #88A0A8;}

