body {
  font-family: "Arial";
   background-color: #FAD4D8;
   color: #546A76;        
}
h1
{
  font-family: "Arial";  
  color: #546A76;
 }
#h1 {
background-image: url(https://github.com/MaryAshby/TwinnedPages/blob/master/images/eggs.jpg);
background-repeat: no-repeat;
background-position: left top;
padding-top:68px;
margin-bottom:50px;
}
tr:hover {background-color: #88A0A8;}

