body {
  font-family: "Arial";
   background-color: #88A0A8;
   color: #DBD3C9;
        
}
body
{
  background-image: url(https://github.com/MaryAshby/TwinnedPages/blob/master/images/fruit.jpg) no-repeat;
background-position: centre top;
}

h1
{
  font-family: "Arial";  
  color: #DBD3C9;
padding-top:50px;
margin-bottom:50px;

}

 table, th, td {
  border: 2px solid #546A76;
}   
tr:hover {background-color: #88A0A8;}
