body {
  font-family: "Arial";
   background: #88A0A8
 url("https://raw.githubusercontent.com/MaryAshby/TwinnedPages/master/images/fruit.jpg") no-repeat
center top;
   
        
}

h1
{
  font-family: "Arial";  
  color: #DBD3C9;
padding-top:50px;
margin-bottom:50px;

}

 table, th, td {
  border: 2px solid #546A76;
}   
tr:hover {background-color: #88A0A8;}
